@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    font-family: "Manrope";
    color: #fff;
}

html, body {
    width: 100%;
    height: 100%;
    background: #141414;
}

.outerWrap {
  height: 72px;  
  width: 72px;    
  position: absolute;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}