@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  font-family: "Manrope";
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: #141414;
}

.outerWrap {
  height: 72px;
  width: 72px;
  position: absolute;
  animation: rotate 1.5s linear infinite;
}

.generSlider::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

.generSlider::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 80px;
  width: 0px;
}

.generSlider::-webkit-scrollbar-thumb {
  background: #e50000;
  border-radius: 80px;
}

.responsive-banner {
  background: linear-gradient(
      to right,
      rgb(15, 15, 15) 10%,
      rgba(20, 15, 15, 0.9747) 20%,
      rgba(34, 14, 14, 0.9096) 60%,
      rgba(229, 0, 0, 0.5)
    ),
    url("/img/CTABanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1024px) {
  .responsive-banner {
    background-image: linear-gradient(
        to bottom,
        rgb(15, 15, 15) 10%,
        rgba(20, 15, 15, 0.9747) 20%,
        rgba(34, 14, 14, 0.9096) 60%,
        rgba(229, 0, 0, 0.5)
      ),
      url("/img/CTABanner.png");
  }
}

@media (max-width: 768px) {
  .generSlider::-webkit-scrollbar {
    display: flex;
  }
  .generSlider {
    -ms-overflow-style: initial;
    scrollbar-width: 5px;
  }
  .generSlider::-webkit-scrollbar-track {
    width: 5px;
  }
  .generSlider::-webkit-scrollbar {
    height: 5px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
