@import "tailwindcss";

.test{
  color: rgb(229, 0, 0);
}

@theme {
  --breakpoint-xss: 450px;

  --color-white: #FFF;
  --color-black: #000;

  /* Reds */
  --color-red-45: #E50000;
  --color-red-50: #FF0000;
  --color-red-55: #FF1919;
  --color-red-60: #FF3333;
  --color-red-80: #FF9999;
  --color-red-90: #FFCCCC;
  --color-red-95: #FFE5E5;
  --color-red-99: #FFFAFA;

  /* Grey */
  --color-gray-06: #0F0F0F;
  --color-gray-08: #141414;
  --color-gray-10: #1A1A1A;
  --color-gray-12: #1F1F1F;
  --color-gray-15: #262626;
  --color-gray-20: #333333;
  --color-gray-25: #404040;
  --color-gray-30: #4C4C4C;

  --color-gray-60: #999999;
  --color-gray-65: #A6A6A6;
  --color-gray-70: #B3B3B3;
  --color-gray-75: #BFBFBF;
  --color-gray-90: #E4E4E7;
  --color-gray-95: #F1F1F3;
  --color-gray-97: #F7F7F8;
  --color-gray-99: #FCFCFD;
}
